
@{
    ViewBag.Title = "Worklist";
}

@Styles.Render("~/Content/css/worklist")
@Scripts.Render("~/bundles/js/worklist")

<script type="text/javascript">
    var gridHeight;
    $(function () {
        gridHeight = $(".grid-container").height();
        $(".tile-grid-right-arrow").css("line-height", gridHeight + "px");

        $(window).resize(function () {
            gridHeight = $(".grid-container").height();
            $(".tile-grid-right-arrow").css("line-height", gridHeight + "px");
        });
    })
</script>

<div class="breadcrumb-container">
    <div class="breadcrumb-text">
        WORKLIST
    </div>
    <div class="group-by-div">
        <select>
            <option>Drogba</option>
            <option>Zidane</option>
        </select>
    </div>
</div>

<div class="grid-container" style="padding-bottom:4em;min-height:42em">
    <div class="tile-container">
    </div>
    <div class="tile-grid-right-arrow">
        <img src="~/Content/images/right_arrow.png" width="60" />
    </div>
</div>





