@{
    ViewBag.Title = "Home Page";
}
@Styles.Render("~/Content/css/home")
@Scripts.Render("~/bundles/js/home")

<div class="app-logo-container">
    <div><img src="~/Content/IMAGES/logo/app_logo.svg" title="Rapido Logo" width="500" /></div>
</div>

<div class="home-user-info-container">
    <div class="home-user-info-name-position-container">
        <div class="home-user-info-name">Zinedine Zidane</div>
        <div class="home-user-info-position">Coach</div>
    </div>
    <div class="home-user-image-container">
        <div>
            <img src="~/Content/images/user_image.jpg" width="135" />
        </div>
    </div>
</div>

<div class="right-menu-bar">
    <div class="svg-line-container">
        <svg class="line" fill="#42004A">
            <clipPath id="svgClip">
                <path id="svgPath" d="M433,407 L444,407 300,50 288,49 z" />
            </clipPath>
            <path id="svgMask" d="M1833,10500 L1844,10500 250,0 262,0 z" />
        </svg>
    </div>
    <div class="svg-line-container">
        <svg class="line" fill="#42004A">
            <clipPath id="svgClip">
                <path id="svgPath" d="M-2,421 L225,420 62,-3 0,-2 z" />
            </clipPath>
            <path id="svgMask" d="M2150,14500 L2180,14500 70,-3 60,-2 z" />
        </svg>
    </div>

    <div class="right-menu-item-container" title="Notifications">
        <div class="right-menu-item notification">
            <span id="right-menu-notification-icon-span">
                <img src="~/Content/images/icons/notification_icon.svg" />
            </span>
            <span id="right-menu-notification-name-span">NOTIFICATION</span>
        </div>
    </div>
    <div class="right-menu-item-container" title="Worklist">
        <div class="right-menu-item worklist">
            <span id="right-menu-worklist-icon-span">
                <img src="~/Content/images/icons/worklist_icon.svg" />
            </span>
            <span id="right-menu-worklist-name-span">WORKLIST</span>
        </div>
    </div>
    <div class="right-menu-item-container" title="Historical">
        <div class="right-menu-item historical">
            <span id="right-menu-historical-icon-span">
                <img src="~/Content/images/icons/historical_icon.svg" />
            </span>
            <span id="right-menu-historical-name-span">HISTORICAL</span>
        </div>
    </div>
    <div class="right-menu-item-container" title="Settings">
        <div class="right-menu-item settings">
            <span id="right-menu-settings-icon-span">
                <img src="~/Content/images/icons/settings_icon.svg" />
            </span>
            <span id="right-menu-settings-name-span">SETTINGS</span>
        </div>
    </div>
    <div class="right-menu-item-container" title="Logout">
        <div class="right-menu-item logout">
            <span id="right-menu-settings-icon-span">
                <img src="~/Content/images/icons/logout_icon.svg" />
            </span>
            <span id="right-menu-settings-name-span">LOGOUT</span>
        </div>
    </div>
</div>

<div class="right-menu-bar link-div">
    <a>
        <div class="right-menu-item-container notification-link" title="Notifications">
            <div class="right-menu-item notification">

            </div>
        </div>
    </a>

    <a href="/Worklist/Index">
        <div class="right-menu-item-container worklist-link" title="Worklist">
            <div class="right-menu-item worklist">

            </div>
        </div>
    </a>

    <div class="right-menu-item-container historical-link" title="Historical">
        <div class="right-menu-item historical">

        </div>
    </div>

    <div class="right-menu-item-container settings-link" title="Settings">
        <div class="right-menu-item settings">

        </div>
    </div>

    <div class="right-menu-item-container logout-link" title="Logout">
        <div class="right-menu-item logout">
        </div>
    </div>
</div>