
@media screen and (max-width: 1650px){
    .app-logo-container {
        left: 15% !important;
    }

    .user-info-container {
        left: 18% !important;
    }
}


.app-logo-container {
    opacity: 0.6;
    position: absolute;
    left: 10%;
    top: 50%;
    transform: translate3d(-50%,-50%,0);
    z-index: 100;
    text-transform: uppercase;
}

    .app-logo-container div {
        width: 200px;
    }

.user-info-container {
    position: absolute;
    left: 12%;
    top: 10%;
    transform: translate3d(-50%,-50%,0);
}

.user-info-name-position-container {
    float: left;
    margin-top: 2.2em
}

.user-info-name {
    font-size: 1.3em
}

.user-info-position {
    font-size: 1.3em;
    color: #14791E;
    float: right
}

.user-image-container {
    border-radius: 50%;
    width: 115px;
    height: 115px;
    background-color: #FFCB00;
    position: relative;
    overflow: hidden;
    border: 3px solid #FFCB00;
    left: 1em
}